<!-- Modal -->
<div class="modal fade" id="delete-place-modal-<%= place._id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Biztosan törlöd?</h4>
            </div>
            <form action="/admin/remove-place/<%=place._id%>" role="form" method="post">
                <div class="modal-body">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Mégse</button>
                    <input type="submit" class="btn btn-danger" value="Törlés" />
                </div>
            </form>
        </div>
    </div>
</div>