<!DOCTYPE html>
<html>
<head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MRZ3D33');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devu</title>
    <meta property="description" content="Kifogytál az ötletekből? Találj programot könnyedén szíved válaszottjának!" />
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/public/images/favicons.ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/public/images/favicons.ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/public/images/favicons.ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/public/images/favicons.ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/public/images/favicons.ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/public/images/favicons.ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/public/images/favicons.ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/public/images/favicons.ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/favicons.ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/public/images/favicons.ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicons.ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/public/images/favicons.ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicons.ico/favicon-16x16.png">
    <link rel="manifest" href="/public/images/favicons.ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/public/images/favicons/ms-icon-144x144.png">


    <!--SEO meta tags-->
    <meta property="og:title" content="Devu" />
    <meta property="og:description" content="Kifogytál az ötletekből? Találj programot könnyedén szíved válaszottjának!" />
    <meta property="og:url" content="http://devu.herokuapp.com" />
    <meta property="og:image" content="/public/images/favicons.ico/ms-icon-310x310.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="310" />
    <meta property="og:image:height" content="310" />
    <meta property="og:locale" content="hu_HU" />
    <meta property="og:site_name" content="Devu" />
    <meta property="og:type" content="website" />
</head>
<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MRZ3D33"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->