<footer>
    <div class="contact">
        <h4>Kérdeznél? Ne habozz!</h4>
        <div class="email-us">
            <span><a class="undecorated" href="mailto:info@devu.hu">info@devu.hu</a></span>
        </div>
    </div>
    <div class="copyright">
        copyright devu 2016
    </div>
</footer>

<!-- Custom Bootstrap -->
<link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
<!-- Custom Bootstrap Theme -->
<link rel="stylesheet" href="/public/stylesheets/bootstrap-theme.min.css">

<link rel="stylesheet" href="/public/stylesheets/portal.css">
<link rel="stylesheet" href="/public/fonts/css/font-awesome.min.css">


<script defer src="/public/js/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script defer src="../public/growl/javascripts/jquery.growl.js"></script>
<script defer src="../public/js/gtm.js"></script>
<script defer src="../public/js/script.min.js"></script>
<link rel="stylesheet" href="/public/growl/stylesheets/jquery.growl.css">
</body>

</html>