<!-- Modal -->
<div class="modal fade" id="edit-tag-modal-<%= tag._id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Tag szerkesztése</h4>
            </div>
            <form action="/admin/edit-tag/<%=tag._id%>" role="form" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="name">Név:</label>
                            <input class="form-control" type="text" name="name" value="<%= tag.name %>"/>
                        </div>
                        <div class="col-sm-6">
                            <label for="icon">Ikon:</label>
                            <input class="form-control" name="icon" value="<%= tag.icon %>"/>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Mégse</button>
                    <input type="submit" class="btn btn-primary" value="Mentés" />
                </div>
            </form>
        </div>
    </div>
</div>