
<nav class="navbar navbar-default navbar-fixed-top info-fixed-top">
    <div class="container">
        <div class="info-bar">
            <p>Ismersz egy jó helyet? Ne tartsd magadban!</p>
            <a href="/place/addPlace" class="btn btn-default" type="button">Randicélpont feltöltése</a>
        </div>
    </div>
</nav>